<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="messageForm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="message">Mensagem</label>
                        <input type="text" id="message" formControlName="message" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="info">Mensagem adicional</label>
                        <textarea type="text" id="info" class="form-control" formControlName="info" rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>