<br>

<div class="row">
        <div class="col-md-12">
                <p>De seguida é apresentado um Mapa onde pode escolher o Sign-Post mais apropriado para si!</p>
        </div>
</div>
<hr>
<div class="container">
        <h1>Procure a Localização do seu SignPost</h1>
        <div class="form-group">
                <input placeholder="Procure a localização" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control"
                        #search [formControl]="searchControl">
        </div>
        
        <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
                <agm-marker 
                        *ngFor="let signPost of signPosts"
                        [latitude]= "signPost.latitude"
                        [longitude]= "signPost.longitude"      
                       
                >
                        <agm-info-window>
                                <strong>SignPost {{signPost.id}}</strong>
                                <br>
                                <hr>
                                <button class="btn btn-primary" routerLink="/signpost/{{signPost.id}}/message">Alugar SignPost</button>
                        </agm-info-window>
                </agm-marker>
        </agm-map>
</div>
